body{
  background: -webkit-linear-gradient(90deg, #F1F2B5 10%, #135058 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #F1F2B5 10%, #135058 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #F1F2B5 10%, #135058 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #F1F2B5 10%, #135058 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #F1F2B5 10%, #135058 90%); /* W3C */

}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color:black;
}
.boton{
  background-color: #09d3ac;
  color: black;
  border-style: double;
  width: 300px;
  height: 100px;
  font: bold;
  font-family: cursive;
  font-size: 30px;

}